# -------------------------------------------------------------------
# GLOBAL CONFIGURATION (shared across all microservices)
# -------------------------------------------------------------------

spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/jibramed-his-platform-db
    username: postgres
    password: root
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
    show-sql: false

  flyway:
    url: ${spring.datasource.url}
    user: ${spring.datasource.username}
    password: ${spring.datasource.password}
    baseline-on-migrate: true

  cloud:
    config:
      fail-fast: true
      retry:
        max-attempts: 10
        max-interval: 2000
        multiplier: 1.1
        initial-interval: 1000

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
  instance:
    prefer-ip-address: true

# -------------------------------------------------------------------
# APPLICATION-LEVEL SETTINGS
# -------------------------------------------------------------------
app:
  multitenancy:
    base-domain: jibramed.com
    tenant-jwt-secret: ${TENANT_JWT_SECRET:c42ae66c79c7aaf836e334617915f682ed539c7d8549f27778963cf191db9a8d18962260c971b58071048a0b2350e959791a63ec44846f45a501b02dd7095ca3}
    tenant-jwt-expiration: 300000 # 5 mins
    realm-header-name: X-Realm
    tenant-key-header-name: X-Tenant-Key
    tenant-id-header-name: X-Tenant-ID

    tenant-datasource:
      pool-name-prefix: "TenantPool-"
      connection-timeout: 30000
      maximum-pool-size: 15
      idleTimeout: 600000 # 10 minutes
      maxLifetime: 1800000 # 30 mins
      datasource-cache-max-size: 100
      dataSourceCacheExpiration: 1800000
      leak-detection-threshold: 60000

  security:
    jwt: # secret: # Ideally provided as an ENV variable
      public-jwt-secret-key: ${PUBLIC_JWT_SECRET_KEY:55f6b568ee5951058a9813fa1cccd8e93cebfa442c10651aad2dac810ee1bb924c00d85877131de29b20cf68d2131e0566fcb084ae61f0528a2489c208eb9ac187c2cfd9b09ec390755550246576ef4644b45a926494fd00f8565647cd1ba09c7f3eac55cac8580463ebe7fb15acf33a3ecb612031d747bcd3360a3e7d69985a1185c3128ff823d0a660f98533ffe39bc3a498a996ea0d2fc486983ac4fdd7d1028d16a85c68f566610ffa60e94051ad42bdf66fe4ea2404741a27f4762dbae3965e7987828aea8c7ae403dc2fdbdbb2453f335de5ae70b763981d3175728c7ecf25930e5ec26baaef46a86bd41c8b45aea567ca58dfefe9dafe1e7320d6add34bdb69bff6dd8a07003fe0a0462536cf0d3aea04af5c52c6dda3338224db1a3703b8abb1525722eca93e694ea570d81e1fbbe29502628eda89f8cd8183a03af4e8669800f76924055c232ddcf538da3b202c51da22c437f4cfc6b080e6d3bd03e7284a603140dbcecab5a83f03ba08ebea4f0375170782b5bde3cbff24860dd2cbcf02ecee4bbd26ca3dc6c6eca9ebd13af1fa33936899240fd8e4232ad1730beec53b8ae008af3f19eefb4c0ff22ab81556303dd9e6b3b71abac09e3491f0fedf01fb5228e32083b175318d581a7e973bbdc1820de6d08653e05e2c159900905a3656fcec9486afc8bea19c493ec8198acac94f95b75d1944d80e65fdfecd06}
      access-token-expiration: 900000 # 15 mins
      refresh-token-expiration: 604800000 # 7 days

# -------------------------------------------------------------------
# LOGGING CONFIGURATION
# -------------------------------------------------------------------
logging:
  level:
    root: DEBUG
    com.his.jibramed: DEBUG
    org.springframework: WARN
    org.hibernate.SQL: WARN
    org.hibernate.type.descriptor.sql.BasicBinder: ERROR
    org.springframework.web: WARN
    org.springframework.cloud.gateway: INFO
    org.springframework.cloud.gateway.handler.RoutePredicateHandlerMapping: DEBUG
    org.springframework.cloud.gateway.filter.NettyRoutingFilter: DEBUG
    reactor.netty.http.server: DEBUG # shows incoming requests
    reactor.netty.http.client: DEBUG # shows outgoing load-balanced calls

  file:
    name: logs/jibramed-application.log
  logback:
    rollingpolicy:
      max-file-size: 10MB
      max-history: 7
      total-size-cap: 100MB

# -------------------------------------------------------------------
# MANAGEMENT ENDPOINTS
# -------------------------------------------------------------------
management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics,prometheus
  endpoint:
    health:
      show-details: when-authorized
